.weather {
  position: relative;
}

.weather__info {
  font-family: CabinetBold;
  position: absolute;
  top: 30px;
  left: 16px;
  color: white;
  font-size: 36px;
}
.weather__image {
  width: 100%;
}
