.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Allows scrolling if modal content exceeds the screen size */
}

.modal__content {
  position: relative;
  overflow: auto;

  padding: 0;
}

.modal__image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 16px;
  /* Move the image upwards so it overlaps with the close button */
}

.close_modal {
  border: none;
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* Slight white background for visibility */
  position: absolute;
  top: 8px; /* Adjusted for better positioning */
  right: 16px;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  z-index: 2; /* Ensure it appears above the image */
}

.modal__clothing-name {
  margin-top: 16px;
  font-family: CabinetBold;
  font-size: 20px; /* Slightly increase font size */
  text-align: left; /* Align to left */
  margin-bottom: 8px; /* Add some space below the name */
  margin-left: 32px;
}

.modal__info-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__weather-type {
  font-family: CabinetBold;
  color: #000;
  margin-bottom: 32px;
  margin-left: 32px;
}

.modal__delete {
  font-family: CabinetBold;
  color: red;
  cursor: pointer;
  border: 1px solid red;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 32px;
  margin-bottom: 68px;
}
